body
{
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-image: url(../imagen/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header
{
    background-color: black;
    width: 100%;
    height: 70px;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}

header>div>h1
{
    margin: 0;
    padding: 0;
}

.text-logo
{
    float: left;
    color: white;
}

.menu
{
    float:right;
}

.link
{
    color: white;
    padding-top: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 20px;
}

.redes
{
    padding-top: 28px;
    max-width: 25px;
    padding-right: 1em;
}

.text-logo>h1
{
    color: white;
    padding-left: 2.5em;
    padding-top: 0.3em;
}

.aleft
{
    float: left;
    width: 45%;
    height: 500px;
}

.aright
{
    float: right;
    width: 55%;
    height: 500px;
}

.mensaje
{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10em;
}

.menu-mensaje
{
    padding-top: 20%;
    padding-left: 3em;
}

.input
{
    width: 270px;
    height: 20px;
    border: 0.5px solid;
    border-radius: 5px;
    margin-bottom: 8px;  
    text-align: left;
}

.boton
{
    padding-left: 40%;
}

.informacion
{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: normal;
    padding-left: 18%;
    padding-top: 23%;
}

.informacion>h2
{
    color: white;
    text-align: center;
}

footer
{
    background-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 35px;
    text-align: center;
}

footer>span
{
    padding-top: 0.5em;
}