body
{
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

header
{
    background-color: black;
    width: 100%;
    height: 70px;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}

header>div>h1
{
    margin: 0;
    padding: 0;
}

.text-logo
{
    float: left;
    color: white;
}

.menu
{
    float:right;
}

.link
{
    color: white;
    padding-top: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 20px;
}

.redes
{
    padding-top: 28px;
    max-width: 25px;
    padding-right: 1em;
}

.text-logo>h1
{
    color: white;
    padding-left: 2.5em;
    padding-top: 0.3em;
}

.eslogan
{
    float: left;
    margin-top: 0;
    background-image: url(../imagen/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15%;
    width: 100%;
    height: 300px;
}

.eslogan>h2
{
    color: white;
    font-weight: bolder;
    padding-top: 5.5%;
    padding-left: 2em;
    font-size: 50px;
}
.eslogan>h3
{
    color: white;
    font-weight: bolder;
    padding-left: 2em;
    font-size: 50px;
}

section
{
    float: left;
    width: 20%;
    height: 20%;
    margin-left: 8em;
    margin-top: 2em;
}

.imagen
{
    width: 40px;
    height: 150px;
    padding-left: 12em;
    margin-left: 1em;
    background-image: url(../imagen/hp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen2
{
    width: 40px;
    height: 150px;
    padding-left: 12em;
    margin-left: 1em;
    background-image: url(../imagen/dell.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen3
{
    width: 40px;
    height: 150px;
    padding-left: 12em;
    margin-left: 1em;
    background-image: url(../imagen/apple.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto
{
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: black;
}

.Titulo
{
    color: black;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.links
{
    font-size: 15px;
    font-weight: normal;
    color:blue;
    padding-bottom: 5em;
}

footer
{
    background-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 35px;
    text-align: center;
}

